<launch>
  <param name="/use_sim_time" value="true" />

  <!-- start world -->
  <node name="gazebo" pkg="gazebo_ros" type="gazebo" 
   args= "$(find gazebo_ros)/launch/empty_world.launch" respawn="false" output="screen" />

  <!-- start gui -->
  <!-- <node name="gazebo_gui" pkg="gazebo" type="gui" respawn="false" output="screen"/> -->

  <!-- include our robots -->
  <!--include file="$(find husky_gazebo)/launch/spawn_husky.launch"-->
  <include file="$(find my_robot_control)/launch/my_rig.launch"/>

   

</launch>




