<launch>
  
<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find my_robot_description)/urdf/rig_prototype_2.urdf'" />
  <!--use the below arguments to describe the initial postion of the robot-->
  <arg name="x" default="10" />
  <arg name="y" default="10" />
  <arg name="z" default="0" />
 
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find my_robot_control)/config/my_robot_control.yaml" command="load" />

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" ns="/my_robot" respawn="false" output="screen" args="joint_state_controller
					  joint1_position_controller joint4_position_controller joint15_position_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="Rrobot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    <remap from="/joint_states" to="/my_robot/joint_states" />
 
  </node>

  <!--portion to lauch the rig automation py script-->
  <node name="rig_talker" pkg="my_rig_control" type="autodriller.py" output="screen"/>
    <!--node name="talker_node" pkg="hello_world" type="talker" output="screen"/-->
  

 
</launch>
